html,
body,
#main {
  height: 100%;
  width: 100%;
  background-color: #ff5bf4;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

input {
  text-align: center;
}

.center {
  z-index: 1;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
}

.label-container {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#label-password {
  width: 40%;
  margin: 0 auto;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 64pt;
  color: #a54fff;
  filter: drop-shadow(2px 2px 2px #ffff75);
}

#input-password {
  margin: 0 auto;
  height: 7%;
  width: 50%;
  font-weight: 300;
  border: none;
  border: solid 1px #ff78f6;
  border-radius: 20px;
  font-size: 2vh;
}
#input-password::placeholder{ 
  color: #5d005758;
}

.center > #input-password:focus {
  outline: none;
  border: solid 2px #ff07ee;
}

#heart-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1vh;
}

.heart {
  animation: 0.7s ease-in 0s infinite alternate throb;
  width: 25px;
  height: 25px;
  background: #ff78f6;
  transform: rotateZ(45deg);
  position: relative;
  margin: 40px 40px;

  filter: drop-shadow(2px 2px 2px #c900bc);
}
.heart::before,
.heart::after {
  content: "";
  width: 25px;
  height: 25px;
  background: #ff78f6;
  position: absolute;
  border-radius: 50%;
}

.heart::before {
  top: 0;
  left: -50%;
}

.heart::after {
  top: -50%;
  right: 0;
}

@keyframes throb {
  from {
    transform: rotateZ(45deg) scale(1, 1);
  }
  to {
    transform: rotateZ(45deg) scale(1.2, 1.2);
  }
}
